################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/Hypercube/obj
/Hypercube/.vs
/Hypercube/packages
/AnalysisServicesTest/obj
/AnalysisServicesTest/.vs
