################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/TestResults
/MigrationBackup
/Hypercube/obj
/Hypercube/packages
/HypercubeClient/obj
/HypercubeTest/obj
/HypercubeAS/obj
/ThirdPartyFork/MDXBuilderLibrary/obj
/~$чёт о НИР.docx
